<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Goat's Plan</title>
    <link rel="stylesheet" href="{% static 'planner/forms_style.css' %}">
    <link rel="stylesheet" href="{% static 'planner/header_style.css' %}">
</head>
<body>
    <div class="header">
        <a href="{% url "planner:home" %}">
            <img src="{% static 'planner/LogoGoat.png' %}" alt="Logo" class="logo" width="50px">
        </a>
        <h1 class="app-name">Goat's Plan</h1>
    </div>

    <h2>{% if object %}Edit project {{ object.name }}{% else %}Create project{% endif %} in {{ parent_company.name }}</h2>
    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_name">Name:</label>
                <input type="text" name="name" id="id_name" maxlength="100" required class="form-input">
            </div>
            <div class="form-group">
                <label for="id_user_list">User List :</label>
                {{ form.user_list }}
            </div>
            <div class="form-actions">
                <button type="submit" class="submit-button">Submit</button>
                <a href="{% url 'planner:myprojects' userid=user.id ccid=parent_company.id %}" class="cancel-button">Cancel</a>
            </div>
        </form>
    </div>
</body>
</html>