<!-- template.html -->
{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tile View</title>
    <link rel="stylesheet" href="{% static 'planner/developer.css' %}">
</head>
<body>
    <h1>Client Company: {{ client_company.name }}</h1>

    <h2>Hello{{ user.username }}, Here are your Projects</h2>

    {% if projects %}
        <ul>
        {% for project in projects %}
            <li><a href="{% url 'planner:mytasks' userid=user.id ccid=client_company.id projectid=project.pk %}">{{ project.name }}</a>
                <a href="{% url 'planner:update_project' userid=user.id ccid=client_company.id projectid=project.pk %}">update project</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No projects found for this client company.</p>
    {% endif %}

    <form method="post" action="{% url 'planner:add_project' userid=user.id ccid=client_company.id %}">
        {% csrf_token %}
        <button type="submit" id="add-task-btn">Add Project</button>
    </form>

    <a href="{% url 'planner:mycompanies' userid=user.id %}">My Client Companies</a>
</body>
</html>
