{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Goat's Plan</title>
 <link rel="stylesheet" href="{% static 'planner/base_style.css' %}">
</head>
<body>
    <img src="{% static 'planner/LogoGoat.png' %}" alt="Logo" class="logo" width="50px">
    <h1>Goat's Plan</h1>
    <table>
        <thead>
            <tr>
                <th>Titre</th>
                <th>Importance</th>
                <th>Commentaire</th>
                <th>Deadline</th>
            </tr>
        </thead>
        <tbody>
        {% for task in user_tasks %}
            <tr>
                <td>{{ task.title }}</td>
                <td>{{ task.status }}</td>
                <td>{{ task.importance }}</td>
                <td>{{ task.deadline }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <form method="post" action="{% url 'planner:add_task' userid=user.id ccid=parent_company.id projectid=project.pk %}">
        {% csrf_token %}
        <button type="submit" id="add-task-btn">Add Task</button>
    </form>
</body>
</html>

