{% extends 'users/base.html' %}
{% load static %}


{% block title %}Register{% endblock %}

{% block content %}
<div style="display: flex; align-items: center; margin-bottom: 20px;">
    <!-- Logo -->
    <a href="{% url "users:login" %}">
        <img src="{% static 'planner/LogoGoat.png' %}" alt="Logo" style="height: 50px; margin-right: 15px;">
    </a>

    <!-- Titre -->
    <h1 style="margin: 0;">Goat's Plan</h1>
</div>

<h2>Register</h2>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <div class="form-text">
            <label for="id_username">Username:</label>
            <span class="tooltip-icon">i
                <span class="tooltip-text">
                    {{ form.username.help_text }}
                </span>
            </span>
        </div>
        {{ form.username }}
    </div>
    <div class="form-group">
        <label for="id_email">Email:</label>
        {{ form.email }}
    </div>
    <div class="form-group">
        <div class="form-text">
            <label for="id_password1">Password:</label>
            <span class="tooltip-icon">i
                <span class="tooltip-text">
                    {{ form.password1.help_text }}
                </span>
            </span>
        </div>
        {{ form.password1 }}
    </div>
    <div class="form-group">
        <label for="id_password2">Confirm Password:</label>
        {{ form.password2 }}
    </div>
    <button type="submit">Register</button>
</form>
<p>Already have an account? <a href="{% url 'users:login' %}">Login here</a></p>
{% endblock %}
