<!-- template.html -->
{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tile View</title>
    <link rel="stylesheet" href="{% static 'planner/developer.css' %}">
</head>
<body>
    <h1>Client Company: {{ client_company.name }}</h1>

    <h2>Hello{{ user.username }}, Here are your Projects</h2>

    {% if project_tasks %}
    {% for project, tasks in project_tasks.items %}
        <h2>{{ project.name }}</h2>
        <ul>
            {% for task in tasks %}
                <li>
                    <strong>{{ task.title }}</strong>: {{ task.status }} ({{ task.importance }})
                    <br>{{ task.description }}
                    <br>Deadline: {{ task.deadline }}
                </li>
            {% endfor %}
        </ul>
    {% empty %}
        <p>No projects or tasks found.</p>
    {% endfor %}
    {% endif %}
    <a href="{% url 'planner:mycompanies' userid=user.id %}">My Client Companies</a>
</body>
</html>
