<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tile View</title>
    <link rel="stylesheet" href="{% static 'planner/developer.css' %}">
    <link rel="stylesheet" href="{% static 'planner/project.css' %}">

</head>
<body>
    <header>
        <h1>Client Company: {{ client_company.name }}</h1>
        <p>Hello {{ user.username }}, Here are your Projects</p>
    </header>

    <main>


            {% if projects %}

                <div class="tile-container">
                    <a href="{% url 'planner:all_tasks_and_projects' userid=user.id ccid=client_company.id %}" class="btn-primary">
                    Show All Tasks
                    </a>
                    {% for project in projects %}
                        <a href="{% url 'planner:mytasks' userid=user.id ccid=client_company.id projectid=project.pk %}" class="tile">
                            {{ project.name }}
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <p class="no-projects">No projects found for this client company.</p>
            {% endif %}
        </div>
    </main>

    <footer>
        <a href="{% url 'planner:mycompanies' userid=user.id %}" class="btn-secondary">
            My Client Companies
        </a>
    </footer>
</body>
</html>
